@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(72, 92, 145);

}

img{
    height: 20vh;
    width: 20vh;
    margin-top: 4%;
    border-radius: 50%;
}

.header{
    height: 30%;
    width: 20%;
    background-color: aliceblue;
    margin-left: 40%;
    margin-top: 11%;
    border-radius: 1rem;
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 10%;
}
